google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pytube
spotipy
moviepy
Pillow
requests
instagrapi
schedule
python-dotenv
requests
Pillow
ffmpeg-python
yt-dlp
spotipy
librosa
numpy
flask
pydrive2
oauth2client
